@font-face {
  font-family: 'Circle Light';
  src: url("../fonts/cirLig/Circe-Light.eot");
  src: url("../fonts/cirLig/Circe-Light.woff2");
  src: url("../fonts/cirLig/Circe-Light.woff");
  src: url("../fonts/cirLig/Circe-Light.ttf");
  font-display: swap; }

@font-face {
  font-family: 'Circle Extra Light';
  src: url("../fonts/cirExLig/Circe-ExtraLight.eot");
  src: url("../fonts/cirExLig/Circe-ExtraLight.woff2");
  src: url("../fonts/cirExLig/Circe-ExtraLight.woff");
  src: url("../fonts/cirExLig/Circe-ExtraLight.ttf");
  font-display: swap; }

@font-face {
  font-family: 'Circle Regular';
  src: url("../fonts/cirReg/Circe-Regular.eot");
  src: url("../fonts/cirReg/Circe-Regular.woff2");
  src: url("../fonts/cirReg/Circe-Regular.woff");
  src: url("../fonts/cirReg/Circe-Regular.ttf");
  font-display: swap; }

@font-face {
  font-family: 'Circle Bold';
  src: url("../fonts/cirBold/Circe-Bold.eot");
  src: url("../fonts/cirBold/Circe-Bold.woff2");
  src: url("../fonts/cirBold/Circe-Bold.woff");
  src: url("../fonts/cirBold/Circe-Bold.ttf");
  font-display: swap; }

@font-face {
  font-family: 'Circle Extra Bold';
  src: url("../fonts/cirExBold/Circe-ExtraBold.eot");
  src: url("../fonts/cirExBold/Circe-ExtraBold.woff2");
  src: url("../fonts/cirExBold/Circe-ExtraBold.woff");
  src: url("../fonts/cirExBold/Circe-ExtraBold.ttf");
  font-display: swap; }

* {
  box-sizing: border-box; }

html {
  font-family: "Circle Regular";
  font-size: 62.5%;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  background-color: #E5E5E5;
  color: #000; }

body, input, textarea {
  font-family: "Circle Regular";
  font-size: 62.5%;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  position: relative;
  margin: 0;
  padding: 0; }

a, a:hover {
  text-decoration: none; }

button, input, a, textarea {
  outline: none;
  cursor: pointer; }
  button:focus, input:focus, a:focus, textarea:focus {
    outline: none; }
  button:active, input:active, a:active, textarea:active {
    outline: none; }

h1, h2, h3, h4, h5, h6 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: unset;
  margin: 0;
  padding: 0; }

p {
  margin-top: 0;
  margin-bottom: 0; }

img {
  max-width: 100%;
  vertical-align: middle;
    vertical-align-width: 100%; }

.btn {
  border: none; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  width: 147rem;
  margin: 0 auto;
  position: relative;
  max-width: unset; }

.hidden {
  overflow: hidden; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

@media (max-width: 108em) {
  html {
    font-size: 9px; } }

@media (max-width: 105em) {
  html {
    font-size: 8.75px; } }

@media (max-width: 91.5em) {
  html {
    font-size: 7.9px; } }

@media (max-width: 91em) {
  html {
    font-size: 8.4px; } }

@media (max-width: 90em) {
  html {
    font-size: 7.9px; } }

@media (max-width: 80em) {
  html {
    font-size: 7.2px; } }

@media (max-width: 72em) {
  html {
    font-size: 6.5px; } }

@media (max-width: 68em) {
  html {
    font-size: 6px; } }

@media (max-width: 64em) {
  html {
    font-size: 5.5px; } }

@media (max-width: 60em) {
  html {
    font-size: 5.2px; } }

@media (max-width: 55em) {
  html {
    font-size: 5px; } }

@media (max-width: 51em) {
  html {
    font-size: 4.5px; } }

@media (max-width: 48em) {
  html {
    font-size: 10px;
    -webkit-text-size-adjust: none; }
  body {
    -webkit-text-size-adjust: none; }
  .container {
    padding: 0;
    margin: 0 auto;
    width: 100%; } }

@media (max-width: 44em) {
  html {
    font-size: 9px; } }

@media (max-width: 38em) {
  html {
    font-size: 8px; } }

@media (max-width: 34em) {
  html {
    font-size: 7px; } }

@media (max-width: 30em) {
  html {
    font-size: 6px; } }

@media (max-width: 26em) {
  html {
    font-size: 5px; } }

@media (max-width: 22.5em) {
  html {
    font-size: 4.5px; } }

@media (max-width: 21em) {
  html {
    font-size: 4.4px; } }

.main {
  width: 174rem;
  margin: 0 auto; }

.top__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0 2.5rem 0;
  width: 98%;
  margin: 0 auto; }

.title {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 35px;
  color: #3F3F3F; }

.btn {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.5rem;
  color: #B4B4B4;
  width: 15.1rem;
  height: 4.6rem;
  background: #FFFEFB;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: relative; }

.btn:after {
  content: '';
  top: 1.8rem;
  right: 1rem;
  width: 1rem;
  height: 1rem;
  position: absolute;
  background-image: url(../img/one/re33.svg);
  background-position: center;
  background-size: cover; }

.main__wrapp {
  display: flex;
  justify-content: space-around; }

.add__left {
  width: 41.5rem;
  margin: 0 auto;
  height: 54rem;
  background: #FFFEFB;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px; }

.form__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 41.5rem;
  margin-left: 2rem; }

.item__name {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.35rem;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #49485E;
  margin-top: 2.4rem;
  margin-bottom: 1rem;
  position: relative; }

.item__name:after {
  content: "";
  position: absolute;
  width: .8rem;
  height: .8rem;
  border-radius: 10px;
  background-color: #FF8484; }

.first__input {
  width: 36rem;
  height: 3.6rem;
  background: #FFFEFB;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
  font-size: 1.6rem;
  padding-left: 2rem;
  color: #B4B4B4; }

::placeholder {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  color: #B4B4B4; }

.second__input {
  width: 36rem;
  height: 12.8rem;
  background: #FFFEFB;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-size: 1.6rem;
  padding-left: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #B4B4B4; }

.second__input ::placeholder {
  padding-bottom: 3rem; }

.third__input {
  width: 36rem;
  height: 3.6rem;
  background: #FFFEFB;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  padding-left: 2rem;
  font-style: normal;
  font-weight: normal;
  color: #B4B4B4; }

.four__input {
  width: 36rem;
  height: 3.6rem;
  background: #FFFEFB;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
  font-size: 1.6rem;
  padding-left: 2rem;
  color: #B4B4B4;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 15px; }

.add__btn {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #B4B4B4;
  width: 36rem;
  padding: 1.6rem 0;
  background: #EEEEEE;
  border-radius: 10px;
  border: none;
  margin-top: 3rem; }

.add__btn:hover {
  background: #7BAE73;
  color: #fff; }

.catalog {
  width: 75%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.colum {
  display: inline-block;
  overflow: hidden;
  width: 32%;
  margin-bottom: 2rem;
  background: #FFFEFB;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  transition: .3s linear; }

.colum:hover {
  transform: scale(1.07); }

.colum__img {
  display: block;
  width: 100%;
  height: 25rem;
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 1.6rem; }

.description {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto; }

.colum__title {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.5rem;
  color: #3F3F3F;
  margin-bottom: 3rem; }

.text {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.3;
  color: #3F3F3F;
  margin-bottom: 3.6rem; }

.cost {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3rem;
  color: #3F3F3F;
  padding-bottom: 3.6rem; }

.select {
  position: relative; }

.select.active .select__body {
  display: block;
  transition-duration: 500ms !important;
  transition: 0.5s linear; }

.example-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 1.9rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  transform: rotate(0.15deg);
  margin-bottom: 1rem; }

.select__header {
  display: flex;
  cursor: pointer;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #B4B4B4;
  width: 18.1rem;
  padding: 2rem 0 2rem 2rem;
  background: #FFFEFB;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: relative; }

.select__current {
  font-size: 1.6rem;
  line-height: 1.5rem; }

.select__body {
  width: 18.1rem;
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 96%;
  z-index: 3;
  border-top: 0;
  border: none;
  margin-top: -1rem;
  background: #FFFEFB;
  border-radius: 1.2rem;
  transition: 0.5s linear; }

.select__item {
  padding: 1rem 0;
  padding-bottom: 1;
  padding-left: 2rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.9rem;
  transition: color 200ms;
  color: #B4B4B4;
  border-bottom: 1px solid #999595; }

.select__item:hover {
  color: #726d6d; }

.select__icon {
  width: 4rem;
  padding-right: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  margin-left: auto;
  position: relative; }

@media (max-width: 48em) {
  .main {
    width: 100%; }
  .main__wrapp {
    display: block; }
  .form__left {
    width: 90%; }
  .add__left {
    width: 90%;
    margin-bottom: 6rem; }
  .first__input {
    width: 100%; }
  .second__input {
    width: 100%; }
  .third__input {
    width: 100%; }
  .four__input {
    width: 100%; }
  .add__btn {
    width: 100%; }
  .catalog {
    width: 90%;
    margin: 0 auto; }
  .colum {
    width: 90%;
    margin-bottom: 2ewm; }
  .top__header {
    width: 88%;
    margin: 0 auto; }
  .colum:hover {
    transform: scale(1.06); } }

.swiper-container {
  width: 600px;
  height: 300px; }
